*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #78eb4b;
}

/* start button */
.start-button,
.info-box,
.quizBox,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
                0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.3s ease;
}
.info-box.activeinfo,.quizBox.activequiz,.result_box.activeresult{
    z-index: 5;
    opacity: 1; 
    pointer-events: auto; 
    transform: translate(-50%,-50%) scale(1);
}
.start-button button{
    font-size: 17px;
    font-weight: 500;
    color: #78eb4b;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    transition: all 0.3s ease;
}
.start-button button:hover{
    	transform: scale(1.2);
	color: white;
  	background: #78eb4b;
}

/* information details */
.info-box{
    width: 540px;
    background-color: white;
    border-radius: 4px;
    opacity: 0; 
    pointer-events: none; 
    transform: translate(-50%,-50%) scale(0.9);
}
.info-box .info-title{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid lightgray;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.info-box .info-list{
    padding: 15px 20px;
}
 .info-list span{
    font-weight: 700;
    color: #78eb4b;
}
.info-box .buttons{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}
.info-box .buttons button{
    margin: 0 5px;
    height: 30px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}
.info-box .buttons .quit{
    border-color: #78eb4b;
    background-color: transparent;
    color: #78eb4b;
}
.info-box .buttons .Restart{
    border-color: #78eb4b;
    background: #78eb4b;
    color: #fff;
}
.info-box .buttons .quit:hover{
    color: #fff;
    background-color: #78eb4b;
}
.info-box .buttons .Restart:hover{
    background-color: #6fcf49;
}


/* quiz box */
.quizBox{
    width: 550px;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0; 
    pointer-events: none; 
    transform: translate(-50%,-50%) scale(0.9);
}
.quizBox header{
    position: relative;
    z-index: 100;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.1);    
}
.quizBox header .title{
    font-size: 20px;
    font-weight: 500;
}
.quizBox header .timer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 145px;
    height: 35px;
    background-color:#78eb4b;
    border-radius: 5px;
    padding: 0 18px;
}
.quizBox header .timer .timer_text{
    font-weight: 300;
    font-size: 16px;
    user-select: none;
}
.quizBox header .timer .timer_sec{
    font-weight: 300;
    height: 25px;
    text-align: center;
    width: 27px;
    font-size: 16px;
    user-select: none;
    background-color: black;
    color: #fff; 
    line-height: 25px;
    border-radius: 3px;  
    padding-right: 3px; 
}
.quizBox section{
    padding: 20px 25px 15px 25px;
    background-color: #fff;
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.1); 

}
.quizBox section .que_text{
    font-size: 23px;
    font-weight: 600;
}
.quizBox section .option_list{
    padding: 20px 0;
}
.quizBox section .option_list .option{
    background-color: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 4px;
    padding: 8px 14px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}
.option_list .option:last-child{
    margin-bottom: 0;
}
.quizBox section .option_list .option:hover{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}


/*  correct in correct */
.quizBox .option_list .option.correct{
    color: #155724;
    background-color:#d4edda;
    border-color:#c3e6cb;
}
.quizBox .option_list .option.wrong{
    color:#721c24;
    background-color:#f8d7da;
    border-color:#f5c6cb;
}
.quizBox .option_list .option.disabled{
    pointer-events: none;
}

.quizBox footer{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.quizBox footer .total_que span{
    display: flex;
    user-select: none;
}
.quizBox footer .total_que span p{
    font-weight: 400;
    padding: 0 5px;
}
.quizBox footer .total_que span p:first-child{
    padding-left: 0;
}
footer .next_que{
    display: none;
    height: 32px;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #6fcf49;
    outline: none;
    cursor: pointer;
    background-color: #78eb4b;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

footer .next_que:hover{
    background-color: #6fcf49;
}


/* result box design */
.result_box{
    background-color: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0.9);
}
.result_box .icon {
    font-size: 50px;
    margin-bottom: 30px;
    padding-right:10px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #004085;
}
.result_box .complete_test{
    font-size: 20px;
    font-weight: 500;
}
.result_box .score_text span{
    display: flex;
    font-size: 16px;
    margin: 10px 0;
    font-weight: 500;    
}
.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}
.result_box .buttons{
    display: flex;
    margin: 20px 0;
}
.result_box .buttons button{
    margin: 0 10px;
    height: 30px;
    padding: 0 16px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #6fcf49;
    cursor: pointer;
    transition: all 0.3s ease;
}
.result_box .buttons .quit{
    border-color: #78eb4b;
    background-color: transparent;
    color: #78eb4b;
}
.result_box .buttons .restart{
    border-color: #78eb4b;
    background: #78eb4b;
    color: #fff;
}
.result_box .buttons .quit:hover{
    color: #fff;
    background-color: #78eb4b;
}
.result_box .buttons .restart:hover{
    background-color: #6fcf49;
}

